html {
  background-color: #2d2d2d;
  font-family: arial;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.box {
  font-size: 40px;
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 50px 60px;
  margin: 20px;
  background-color: #2281d8;
  outline: 5px solid white;
  color: white;
}

.picker {
  outline: 5px solid #ffffff;
  background-color: #ffffff;
  color: #333333;
}

/*.picked {
  background-color: #ffffff;
  outline: 5px solid #4CAF50;
  color: #49b339;
}*/

.bottom-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.button {
  outline: 5px solid white;
  font-size: 30px;
  display: flex;
  padding: 20px;
  margin: 0 20px;
  width: 140px;
  color: white;
  cursor: pointer;
}

.button.start {
  background-color: #4CAF50;
}

.button.stop {
  background-color: #b14c4c;
}

.winner {
  outline: 5px solid white;
  font-size: 30px;
  display: flex;
  background-color: #fff;
  color: #333333;
  padding: 20px;
  margin: 0 20px;
  width: 360px;
}
