html {
  background-color: #cbd4d8;
  font-family: arial;
}

.button {
  outline: 5px solid black;
  font-size: 30px;
  display: flex;
  padding: 20px;
  margin: 0 20px;
  width: 140px;
  color: white;
  cursor: pointer;
  /*background-color: #b14c4c;*/
}

.button.start {
  background-color: #4CAF50;
}

.button.stop {
  background-color: #b14c4c;
}

.winner {
  outline: 5px solid black;
  font-size: 30px;
  display: flex;
  background-color: white;
  padding: 20px;
  margin: 0 20px;
  width: 360px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.box {
  font-size: 40px;
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 50px 60px;
  margin: 20px;
  background-color: #22b6d8;
  background-color: #b14c4c;
  background-color: #3F51B5;
  outline: 5px solid black;
  color: white;
}

.picked {
  outline: 5px solid #000000;
  color: black;
  background-color: #ffffff;
}

.title-container {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
